$fieldBorderColor: #999;

form.item {
	width: 500px;
	border: 1px solid #aaa;
	padding: 15px 25px 5px 20px;
	background-color: #e2e2e2;
	border-radius: 5px;
	margin: 0 0 20px 0;

	.formButtonArea {
		display: flex;
		justify-content: flex-end;
		margin: 0 0 10px 0;
		button.clear {
			width: 26px;
			background-color: rgb(206, 206, 206);
			padding: 4px 3px 3px 4px;
			.icon {
				font-size: 1.1rem;
			}
		}
		button.save {
			width: 100px;
			background-color: rgb(197, 197, 197);
			padding: 3px;
			.icon {
				font-size: 1.3rem;
			}
		}
		button.iconButton {
			margin: 0 0 0 5px;
			display: flex;
			justify-content: center;
			border-radius: 7px;
			.text {
				font-size: 0.8rem;
				margin: -2px 5px 0 0;
				display: none;
			}
		}
	}

	.buttonPanel {
		button {
			background: #ccc;
			border-left: 2px solid #eee;
			border-top: 2px solid #eee;
			border-right: 2px solid #aaa;
			border-bottom: 2px solid #aaa;
		}
		button.pressed {
			background: #aaa;
			border-left: 2px solid #777;
			border-top: 2px solid #777;
			border-right: 2px solid #fff;
			border-bottom: 2px solid #fff;
		}
		button.disabled {
			opacity: .3;
			margin: 1px 0 0 0;
		}
	}
	div.systemInformation {
		font-family: "Courier New", Courier, monospace;
		div.fieldData {
			background-color: #ccc;
			color: #666;
			padding: 3px;
		}
		label.fieldLabel {
			color: #999;
		}
	}
	.header {
		display: flex;
		justify-content: space-between;
		h3 {
			color: brown;
		}
	}
	.example {
		font-size: 0.8rem;
		color: rgb(179, 84, 84);
		margin: 3px 0 0 8px;
	}
	code {
		font-family: "Courier New", Courier, monospace;
		background-color: #eee;
		color: brown;
		font-weight: bold;
	}
	div.fieldData {
		background-color: #f3f3f3;
		padding: 3px;
	}
	div.message {
		background-color: rgb(255, 242, 126);
		padding: 10px;
		margin: 0 0 10px 0;
		border: 1px solid rgb(212, 195, 40);
		border-radius: 5px;
		cursor: pointer;
		code {
			font-family: "Courier New", Courier, monospace;
			color: bfieldn;
		}
	}
	div.field {
		margin: 0 0 20px 0;
		.fieldLabel {
			font-variant: small-caps;
			font-size: 0.8rem;
			color: rgb(66, 64, 64);
		}

		div.radioChoice {
			margin: 0 0 8px 0;
			display: flex;
			align-items: flex-start;
			.radioControl {
				margin: 0 10px 0 0;
			}
			label {
				cursor: pointer;
				margin: 1px 0 0 4px;
				text-indent: -20px;
				line-height: 1.4rem;
				.title {
					font-weight: bold;
				}
				.description {
					font-style: italic;
					&::before {
						content: " - ";
					}
				}
			}
		}
		fieldset {
			border: 1px solid $fieldBorderColor;
			margin-left: 5px;
			padding: 5px;
			font-size: 0.9rem;
			position: relative;
			legend {
				position: absolute;
				top: -8px;
				left: 5px;
				background-color: white;
				padding: 0 5px !important;
			}
		}
	}
	.field_dataType_choice_radioButtons fieldset {
		padding: 10px 30px 10px 30px !important;
	}
	div.field_dataType_choice_dropdown {
		.fieldLabel {
			display: block;
			margin-bottom: 5px;
		}
		select {
			// width: 490px; // TODO: calculate
			margin: 0 0 0 5px;
			border: 1px solid $fieldBorderColor;
			font-size: 1rem;
		}
	}
	div.dataType_line {
		.fieldLabel {
			display: block;
			margin-bottom: 5px;
		}
		input {
			width: 490px; // TODO: calculate
			border: 1px solid $fieldBorderColor;
			font-size: 1rem;
			font-family: "Courier New", Courier, monospace;
			padding: 3px;
			background-color: #fff;
		}
		input:focus {
			background-color: rgb(247, 247, 228);
			border: 1px solid green;
			border-radius: 3px;
		}
	}
	.buttonArea {
		padding: 0 0 0 5px;
		.submitButton {
			font-size: 0.9rem;
			padding: 4px 10px;
		}
	}
	.buttonPanel {
		display: flex;
		justify-content: flex-end;
		button {
			width: 25px;
			height: 25px;
			padding: 5px 3px;
		}
		button:not(:last-of-type) {
			margin-right: 3px;
		}
	}
}
