.page_showcaseSampleDataWithFaker {
    .message {
        font-style: italic;
    }
	.theData {
		font-family: 'Courier New', Courier, monospace;
		color: brown;
		background-color: #eee;
		font-weight: bold;
	}
}