.page_showcaseSampleDataWithFaker {
	.message {
		font-style: italic;
	}
	.theData {
		font-family: "Courier New", Courier, monospace;
		color: brown;
		background-color: #eee;
		font-weight: bold;
	}

	.buttonArea {
		padding: 0 0 20px 0;
	}

	.infoArea {
		margin-top: 20px;
	}

	.theImage {
		width: 200px;
	}
}
