.page_showcaseCounterUsingReducer {
	.countArea {
		margin: 0 0 10px 0;
		font-size: 2rem;
		div {
			line-height: 1;
		}
	}
	.buttonArea {
		button {
			width: 62px;
			height: 62px;
			margin: 0 10px 10px 0;
			font-size: 2rem;
		}
	}
}
