@use 'partials/variables' as basic;

html {
	font-size: basic.$basicFontSize;
}

body {
	background-color: basic.$firstColor;
	padding: basic.$padding;
	font-family: basic.$primaryFontFamily;

	h1.siteTitle {
		font-size: 2em;
		margin-left: basic.$margin;
	}

	.app_container {
		background-color: basic.$secondColor;
		margin: basic.$margin 0 0 0;
		padding: basic.$padding;
		border: 1px solid #ddd;
		border-radius: 5px;
		min-height: basic.$basicLayoutHeight;
	}
}
